# Managed by Ansible.
export http_proxy="{{ shell_proxy_http_url }}"
export https_proxy="{{ shell_proxy_https_url }}"
export HTTP_PROXY="{{ shell_proxy_http_url }}"
export HTTPS_PROXY="{{ shell_proxy_https_url }}"
export no_proxy="{{ shell_proxy_no_proxy }}"
export NO_PROXY="{{ shell_proxy_no_proxy }}"
